name: Deploy Cloud Functions

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'functions/**'
      - '.github/workflows/deploy-cloud-functions.yml'

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Install function dependencies
        run: npm ci
        working-directory: functions

      - name: Deploy Cloud Functions
        run: firebase deploy --only functions --project ${{ secrets.FIREBASE_PROJECT_ID }} --force
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
